name: Generate and Commit Content

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

permissions:
  contents: write

jobs:
  generate-and-commit:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Pull Docker Image
        run: docker build . -t bot

      - name: Run Docker Container
        run: |
          mkdir -p generated_pages
          docker run --rm -v "$(pwd)/generated_pages:/app/generated_pages" bot

      - name: Debug Generated Files
        run: |
          echo "Generated files:"
          ls -R generated_pages || echo "No generated pages found!"

      - name: Commit and Push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add generated_pages
          git commit -m "Auto-update content $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
          git push
